.sectiton-specialty{
    height: 330px;
    background: rgb(241, 237, 237);

    .specialty-container{
        margin: 0 50px;
        display: flex;
        flex-direction: column;

        .specialty-header{
            height: 60px;
            margin-bottom: 20px;
            padding-top: 20px;

            .title-section{
                font-size: 22px;
                font-weight: 600;
            }
            .btn-section{
                float: right;
                display: block;
                padding: 10px 15px;
                border: none;
                outline: none;
                background: #eceaec;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover{
                    color: #fff;
                    background: #f7d800;
                }
            }
        }

        .specialty-body{

            .specialty-customize{
                .bg-image{
                    height: 150px;
                    width: 278px;
                    background: url('../../assets//images/coxuongkhop.jpg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
            }

            //reset slick slider
            .slick-prev{
                border: 2px solid #d7d7d7 !important;
                right: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;

                &:hover{
                    background: #eceaec !important;
                }
            }
            .slick-prev::before{

                font-family: FontAwesome !important;
                // content: "\f060" !important;
                color: red !important
            }


            .slick-next{
                border: 2px solid #d7d7d7 !important;
                right: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                &:hover{
                    background: #eceaec !important;
                }
            }

            .slick-next::before{
                font-family: 'Glyphicons Halfings' !important;
                color: red !important
            }

                    }
                }

            h3{
                display: block;
                width: 100%;
                height: 100%;
            }
}


